/* 
reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* 
header 
*/

header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    text-align: right;
    width: calc(100% - 200px);
}

.button {
    display: inline;
    color: white;
    padding: 10px 1.25rem;
    border: 2px solid white;
    border-radius: 2em;
    font-size: .625rem;
    
}


/* 
aside
*/

.container-logo {
    width: 70%;
    margin: 1.875rem;
}



.list-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: .3125rem;
}

.list-container img {
    margin-right: .625rem;
    width: 15%;
}

.list-container a {
    font-size: .625rem;
    text-decoration: none;
}

.list-white {
    color: white;
}

.list-gray {
    color: gray;
}

.title {
    color: white;
    margin: 1.875rem ;
    margin-bottom: .625rem;
}

.list-gray-crea h4 {
    font-size: 10px;
    color: gray;
}

.crea-playlist {
    
    display: flex;
    align-items: center;
}


.list-container i {
    color: gray;
    font-size: 2.125rem;
    margin-right: .625rem;
}

.container-nome-playlist {
    margin: 1.25rem;
    overflow-y: auto;
    height: 30vh;
}

.container-nome-playlist li{
    margin: .625rem;
    list-style: none;
}

.container-nome-playlist a {
    font-size: 10px;
    color: gray;
    text-decoration: none;
    

}

.aside-bottom {
    color: white;
    text-decoration: none;
    padding-top: .625rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

hr {
    width: 50%;
    margin-left: 1.875rem ;
}

.installa {
    margin-bottom: .625rem;
    margin-left: 1.875rem ;
}

.installa a{
    text-decoration: none;
    color: gray;
    font-size: .9375rem;
}

.installa i{
    margin-right: .625rem;
}

.utente {
    margin-top: .625rem;
    font-size: 10px;
    margin-left: 1.875rem ;
    padding-bottom: .625rem;
    
}

.utente a {
    text-decoration: none;
    color: white;
}

.utente i {
    margin-right: .625rem;
}

/* 
main 
*/
main {
    height: calc(100vh - 100px);
}

.main-content {
    height: calc(100vh - 100px);
    display: flex;
    
}

aside {
    width: 200px;
    background-color: black;
    min-height: 25rem;
    position: relative;
    

}

main {
    width: calc(100% - 200px);
    background-color: #141922;
}


.main-content > main > section {
    overflow-y: auto;
    height: 100%;
    padding-top: 100px;
    
}

::-webkit-scrollbar {
    width: 0.5em;
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(59, 58, 58);
}



.container-main-top > nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;  
}

.container-main-top > nav ul li {
    padding: .3125rem .625rem;
}

.container-main-top > nav > ul > li a {
    font-size: 10px;
    text-decoration: none;
    color: gray;
   
}

.container-main-center {
    padding-left: .625rem;
}



.container-main-center h2 {
    font-size: 1.25rem;
    color: white;
    margin: 2.5rem 0 10px 0;
}

.container-main-center p {
    font-size: .625rem;
    color: gray;
    margin: .625rem 0;
    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    
    margin-bottom: 2.5rem;
}

.row {
    width: calc(100% / 6 - 1.25rem);
    margin: 0 .625rem;
    
    
}

.img-song img {
    width: 100%;
    margin-bottom: .625rem;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.img-song img:hover {
    opacity: 0.3;
}


.img-song > h4 {
    font-size: .625rem;
    text-align: center;
    color: white;
}

.img-song > h5 {
    font-size: .5rem;
    text-align: center;
    color: gray;
    margin: .625rem 0;
}

.radius {
    border-radius: 50%;
}



/* 
footer 
*/

footer {
    position: relative;
    height: 100px;
    background-color:#282828 ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 10;
    position: relative;

}

.footer-left {
    display: flex;
}

.left-text {
    padding: .625rem;
    color: white;   
}


.left-text > h6 {
    color: gray;
    margin-top: .625rem;
}


.awesome-left {
   color: gray;
   padding: .625rem;
   display: flex;
   align-items: center;
}

.awesome-left i{
    margin: .625rem;
} 

.awesome i {
    
    margin: .625rem;
}

.awesome {
    color: white;
    padding: .625rem;
    display: flex;
    align-items: center;
 }



 .barra-avanzamento {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
    display: flex;
  }
  
  .barra-avanzamento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: gray;
  }
  
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }
  
  
  

/* tablet */
@media screen and (max-width: 1100px) {
    .row {
        width: calc(100% / 4 - 1.25rem);
        margin: 0 .625rem;   
    }
    #small {
        display:none;
    }
    .list-container {
        display: flex;
        align-items: center;
        margin-left: 30px;
        margin-bottom: .3125rem;
    }
    
    .list-container img {
        margin-right: .625rem;
        width: 15%;
    }
    
    .list-container a {
        font-size: .625rem;
        text-decoration: none;
    }
    
    .list-white {
        color: white;
    }
    
    .list-gray {
        color: gray;
    }
}

/* mobile normale */

@media screen and (max-width: 700px) {
    .row {
        width: calc(100% / 2 - 1.25rem);
        margin: 0 .625rem;   
    }
    #small {
        display:none;
    }
    .list-container {
        display: flex;
        align-items: center;
        margin-left: 30px;
        margin-bottom: .3125rem;
    }
    
    .list-container img {
        margin-right: .625rem;
        width: 15%;
    }
    
    .list-container a {
        font-size: .625rem;
        text-decoration: none;
    }
    
    .list-white {
        color: white;
    }
    
    .list-gray {
        color: gray;
    }

    .list-container i {
        color: gray;
        font-size: 2.125rem;
        margin-right: .625rem;
    }
}

/* mobile piccolo */

@media screen and (max-width: 600px) {
    .row {
        width: calc(100% / 2 - 1.25rem);
        margin: 0 .625rem;   
    }
    .left-text {
        font-size: 10px;
    }

    aside {
    width: 80px;
    background-color: black;
    min-height: 25rem;
    position: relative;
    }

    #big {
        display: none;
    }

    #small {
        display: block;
        width: 70%;
        margin: 0;
    }

    #small > img {
        
    }

    .container-logo {
        
        width: 70%;
        margin: .875rem;
        display: flex;
        justify-content: center;
    }    

    .list-container {
        margin-left: 30px;
        
        margin-top: 1.875rem;
    }
    
    .list-container img {
        margin-right: .625rem;
        width: 40%;
    }
    
    .list-container a {
        display: none;
    }
    
    .list-white {
        color: white;
    }
    
    .list-gray {
        color: gray;
    }    

    .list-container i {
        display: none;
    }

    .title {
        display: none;
    }
    
    .crea-playlist {
        display: none;    
    }

    .container-nome-playlist {
        display:none;
    }

    .aside-bottom {
        color: white;
        text-decoration: none;
        padding-top: .625rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        
    }

    .installa a{
        display:none;
    }

    .installa {
        margin-left: 1.8125rem;
    }

    .utente a {
        display: none;
        
    }

    .utente i{
        font-size: 1.875rem;
        color: gray;
            
    }

    .utente {
        margin-left: 1.375rem;
    }

    hr {
        display: none;
    }

   

    header {
        width: calc(100% - 70px)
    }
    
    main {
        width: 100%;
    }  
    .awesome-left i{

        color: gray;
     
     }
}
