@import url(animation.css);

/* 
reset 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
}




/* 
  struttura
*/

.navbar {
    height: 15vh;
    background-color: black;
    color: white;
}


.sidebar {
    position: absolute;
    width: 200px;
    height: 70vh;
    background-color: black;

}

.content  {
    
    margin-left: 200px;
    height: 70vh;
    background-color: #141922;
    
}

footer {
    
}


.command {
    height: 15vh;
    background-color: #282828;

}

/* 
contenuti 
*/

header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2.5rem;
}

.navbar-logo img {
    height: 100%;
}

.navbar-button a {
    display: flex;
    background-color: black;
    border: .125rem solid white;
    color: white;
    text-align: center;
    padding: .9375rem 1.25rem;
    text-decoration: none;
    font-size: 8pt;
}

/* 
sidebar menu
*/

.menu {
    padding: .625rem;
    font-size: 7pt;
}

.menu-top {
    display: flex;

}

.home i {
    font-size: 2em;
    padding: .625rem 0;
    color: white;
}

.home a {
    padding: .9375rem 0 .625rem .625rem;
    text-decoration: none;
    color: white;
}


/* 
sidebar menu bottom
*/


.menu-buttom {}

.playlist {
    color: white;
    margin-top: .625rem;
}

.menu-playlist i {
    font-size: 3em;
}

.menu-playlist {
    display: flex;
}

.list-playlist li {
    color: white;
    list-style: none;
    margin-top: 10px;

}

/* 
content
*/

.horizontal-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    
}

.horizontal-list a {
    color: white;
    text-decoration: none;
    padding: 0 1.25rem;
}

/* 
horizontal-album 
*/

.horizontal-album {
    display: flex;
    flex-wrap: wrap;

}



.container-img  {
position: relative;
height: 100vh;
overflow-x: auto;

}

.artist {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 3.125rem;
padding: 1.25rem;
overflow-y: auto;
}

.horizontal-album {
display: flex;
flex-wrap: wrap;
margin: -0.625rem;
}

.horizontal-album img {
flex: 0 0 calc(25% - 1.25rem);
width: 18.75rem;
height: 18.75rem;
margin: .625rem;
}

